#parentHBox{
    -fx-background-color:-primary-color;
    -fx-border-style:solid;
    -fx-border-width:1;
}

#sidePanelParentVBox .vbox {
    -fx-alignment: center;
}

#sidePanelParentVBox{
    -fx-background-color:-secondary-color;
}

#sidePanelParentVBox .label {
    -fx-text-fill:-primary-color;
}

#sidePanelVBox  .button {
    -fx-background-color: -secondary-color;
    -fx-text-fill: -primary-color;
    -fx-font-size: 14px;
    -fx-font-style: bold;
    -fx-text-alignment: left;
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px center;
    -fx-padding: 15 10px 15 10px; 
}

#sidePanelVBox .button:hover {
    -fx-cursor:hand;
    -fx-background-color: -primary-color;
    -fx-text-fill: black;
}

#sidePanelVBox #dashBoardButton{
    -fx-background-image: url("/views/css/image/home_white.png");
}

#sidePanelVBox #dashBoardButton:hover{
    -fx-background-image: url("/views/css/image/home_black.png");    
}

#sidePanelVBox #usersButton{
    -fx-background-image: url("/views/css/image/user_white.png");
}

#sidePanelVBox #usersButton:hover{
    -fx-background-image: url("/views/css/image/user_black.png");    
}

#sidePanelVBox #productsButton{
    -fx-background-image: url("/views/css/image/box_white.png");
}

#sidePanelVBox #productsButton:hover{
    -fx-background-image: url("/views/css/image/box_black.png");    
}

#sidePanelVBox #ordersButton{
    -fx-background-image: url("/views/css/image/shopping-list_white.png");
}

#sidePanelVBox #ordersButton:hover{
    -fx-background-image: url("/views/css/image/shopping-list_black.png");
}

#sidePanelVBox #promoButton{
    -fx-background-image: url("/views/css/image/discount_white.png");
}

#sidePanelVBox #promoButton:hover{
    -fx-background-image: url("/views/css/image/discount_black.png");
}

#sidePanelVBox #archivedButton{
    -fx-background-image: url("/views/css/image/recycle_bin_white.png");
}

#sidePanelVBox #archivedButton:hover{
    -fx-background-image: url("/views/css/image/recycle_bin_black.png");
}